.footer {
    padding: 0 0 50px 0;
    background-image: url('../../assets/img/newsletter.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }